<form id="chat" method="POST">
<input type="text" name="name"/>:<input type="text" name="hello"/>
<input type="button" onclick="javascript:postChatMessage()" value="投稿"/>
</form>
<br/>
<div id="chatlog">
<ul>
{{#log}}
<li><font color="blue">{{name}}</font>:<font color="gray">{{hello}}</font></li>
{{/log}}
</ul>
</div>
